/*============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*=============== VARIABLES ===============*/
:root {
  /*======= Colors =======*/
  --hue: 205;
  --first-color: hsl(var(--hue), 78%, 60%);
  --first-color-alt: hsl(var(--hue), 61%, 16%);
  --first-color-second: hsl(var(--hue), 86%, 17%);
  --second-color: hsl(var(--hue), 36%, 96%);
  --second-color-alt: hsl(var(--hue), 22%, 49%);
  --light-color: #fff;
  --dark-color: #222;
  --default-background: orange;

  /*======= Font =======*/
  --body-font: "Roboto", sans-serif;

  /*======= Exceptions =======*/
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
}

/*=============== BASE ===============*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background: var(--default-background);
  color: var(--first-color-alt);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/*=============== TYPOGRAPHY ===============*/
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--second-color-alt);
}

/* Responsive Typography */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*=============== NAV ===============*/
.nav {
  background: var(--light-color);
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
  color: var(--first-color-second);
}

.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  margin-bottom: 0;
}

.nav__links {
  display: flex;
}

.nav__logo,
.nav__link {
  color: var(--first-color-second);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-right: 1rem;
  transition: var(--transition);
}

.nav__logo:hover,
.nav__link:hover {
  color: var(--first-color);
}

/*=============== LAYOUT ===============*/
.main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h2 {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}

.color__code {
  color: var(--light-color);
}

/*=============== BUTTON ===============*/
.btn {
  background: var(--light-color);
  color: var(--dark-color);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--dark-color);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn:hover {
  color: var(--light-color);
  background: var(--dark-color);
}
